# Node
node_modules/

# Next.js build output
frontend/.next/
backend/.next/

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env/секреты
.env
.env.*
!.env.example

# ОС/редакторы
.DS_Store
Thumbs.db
.idea/
.vscode/

# Сборка/артефакты
dist/
build/
coverage/
